@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");


html {
  height: 100%;
}

body {
  margin: 0%;
  min-height: 100%;
}

a,
button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
}

img {
  max-width: 25%;
  max-height: 25%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  border-bottom: 1px solid;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}

.logo {
  cursor: pointer;
}

.signinbuttons {
  display: flex;
  justify-content: center;
}

.button {
  padding: 9px 25px;
  background-color: #3ce16e;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  width: max-content;
  margin: 5px;
}

.button:hover {
  background-color: black;
  color: #3ce16e;
}

.main-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.form {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="text"] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 10px;
  box-sizing: border-box;
}

.cards {
  width: 50%;
  background-image: url("/Users/nicolasrosal98/Desktop/companies-house-scrape/assets/academy-shape.svg");
  padding: 1%;
}

.company-card {
  display: flex;
  font-family: "Roboto", sans-serif;
  border-radius: 10px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  padding: 20px;
  margin: 10px;
  background-color: white;
}

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  cursor: pointer;
}

.pagination a {
  padding: 10px;
  border: 1px solid #3ce16e;
  color: #000;
  background-color: #3ce16e;
}

.pagination__link {
  font-weight: bold;
}

.pagination__link--active a {
  color: #3ce16e;
  background-color: #000;
}
